<div id="<%= dom_id user %>" class="entity">
  <h2>
    <%= link_to user.full_name, user %>
    <small>owns <%= pluralize user.things.count, 'thing' %></small>
  </h2>
  <div class="entity__action">
    <%= button_to "Edit", edit_user_path(user), method: :get %>
    <%= button_to "Delete", user, method: :delete %>
  </div>
</div>
