<div id="<%= dom_id manufacturer %>">
  <p>
    <strong>Name:</strong>
    <%= manufacturer.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= manufacturer.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= manufacturer.website %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= manufacturer.email %>
  </p>

</div>
