<div id="<%= dom_id manufacturer %>" class="entity">
  <h2>
    <%= link_to manufacturer.name, manufacturer %>
    <small>made <%= pluralize manufacturer.things.count, 'thing' %></small>
  </h2>
  <div class="entity__action">
    <%= button_to "Edit", edit_manufacturer_path(manufacturers_path), method: :get %>
    <%= button_to "Delete", manufacturer, method: :delete %>
  </div>
</div>
